

/* h1{
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 30px;
} */

/* .row{
  justify-content: center;
  width: 80%;
}

input{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.488);
}
div{
  padding: 3px;
} */

/* .add{
  width: 71px;
} */